<div class="business-container">
  <!-- Thanh tìm kiếm và bộ lọc -->
  <div class="search-filter-bar">
      <!-- <input type="text" class="search-input" placeholder="Tìm kiếm doanh nghiệp..." [(ngModel)]="searchQuery" (input)="filterBusinesses()" />
      <select class="city-filter" [(ngModel)]="selectedCity" (change)="filterBusinesses()">
          <option value="all">Tất cả thành phố</option>
          <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
      </select> -->
      <input type="text" class="search-input" placeholder="Tìm kiếm doanh nghiệp..." [(ngModel)]="searchQuery">
  </div>

  <!-- Danh sách Doanh nghiệp -->
  <div class="business-list">
      <div class="business-card" *ngFor="let business of businesses">
          <div class="business-info">
              <img [src]="business.businessImg" alt="Logo của {{ business.businessName }}" class="business-logo" />
              <div>
                  <h3 class="business-name">{{ business.businessName }}</h3>
                  <p class="industry">{{ business.industry }}</p>
                  <p class="location">{{ business.location }}</p>
              </div>
          </div>
          <p class="description">{{ business.description }}</p>
          <button class="view-details-btn" (click)="viewDetails(business.businessId)">Xem chi tiết</button>
      </div>
  </div>
</div>
