<div *ngIf="job">
    <div class="modal-header">
      <h4 class="modal-title"> Thông tin tuyển dụng chi tiết</h4>
    </div>
    <div class="modal-body">
      <div class="detail">
        <div class="image">
          <img [src]="job.logo">
        </div>
        <div class="infor">
          <h3>{{ job.job_title }}</h3>
          <p><strong>Type:</strong> {{ job.job_type }} </p>
          <p><strong>Mô tả:</strong> {{ job.job_description }}</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!job">Đang tải thông tin...</div>