<header>
    <nav>
        <div class="logo">
            <h1>BDCS</h1>
        </div>
        <ul class="nav-links">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Khóa học</a></li>
            <li><a href="#">Doanh Nghiệp</a></li>
            <li><a href="#">Liên hệ</a></li>
        </ul>
        <div class="search">
            <input type="text" placeholder="Tìm kiếm...">
            <button class="animate__animated animate__bounce">Tìm kiếm</button>
        </div>
        <div class="auth-buttons">
            <div class="auth-buttons">
                <div class="auth-buttons">
                    <button class="login" [routerLink]="['/login']">Đăng nhập</button>
                    <button class="login" [routerLink]="['/signup']">Đăng nhập</button>

                  </div>
                  
                
            </div>
            
        </div>
    </nav>
</header>
