<div class="signup-container">
  <div class="left-section">
    <div class="overlay"></div>
    <h2 class="animated-text">Chào mừng đến với BDCS</h2>
    <p class="animated-text">Hãy gia nhập chúng tôi và khám phá thế giới kiến thức mới!</p>
  </div>

  <div class="signup-card">
    <h2>Đăng Ký</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
      <div class="form-group">
        <label for="name">Họ tên người dùng</label>
        <input type="text" id="name" name="name" formControlName="name">
        <div class="error-message" *ngIf="signupForm.get('name').invalid && signupForm.get('name').touched">
          <small *ngIf="signupForm.get('name').hasError('required')" class="error">
            Vui lòng nhập họ và tên.
          </small>
          <small *ngIf="signupForm.get('name').hasError('pattern')" class="error">
            Họ và tên phải có ít nhất hai từ và không được chứa ký tự đặc biệt.
          </small>
          <small *ngIf="signupForm.get('name').hasError('minlength')" class="error">
            Họ và tên phải có ít nhất 3 ký tự.
          </small>
          <small *ngIf="signupForm.get('name').hasError('maxlength')" class="error">
            Họ và tên không được vượt quá 50 ký tự.
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="username">Tên đăng nhập</label>
        <input type="text" id="username" name="username" formControlName="username">
        <div class="error-message" *ngIf="signupForm.get('username').invalid && signupForm.get('username').touched">
          <small *ngIf="signupForm.get('username').hasError('required')" class="error">
            Tên đăng nhập không được để trống.
          </small>
          <small *ngIf="signupForm.get('username').hasError('pattern')" class="error">
            Tên đăng nhập không được chứa khoảng trắng hoặc ký tự đặc biệt.
          </small>
        </div>
      </div>


      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" formControlName="email">
        <div class="error-message" *ngIf="signupForm.get('email').invalid && signupForm.get('email').touched">
          <small *ngIf="signupForm.get('email').hasError('required')" class="error">
            Vui lòng nhập Email.
          </small>
          <small *ngIf="signupForm.get('email').hasError('email')" class="error">
            Định dạng email không hợp lệ. Vui lòng nhập đúng định dạng (ví dụ: example&#64;example.com).
          </small>
          <!-- '&#64;' = '@' -->
          <small *ngIf="signupForm.get('email').hasError('minlength')" class="error">
            Email phải có ít nhất 6 ký tự.
          </small>
          <small *ngIf="signupForm.get('email').hasError('maxlength')" class="error">
            Email không được quá 30 ký tự.
          </small>
        </div>
      </div>


      <div class="form-group">
        <label for="dateOfBirth">Ngày sinh</label>
        <input type="date" id="dateOfBirth" name="dateOfBirth" formControlName="dateOfBirth">
        <div class="error-message" *ngIf="signupForm.get('dateOfBirth').invalid && signupForm.get('idCard').touched">
          <small *ngIf="signupForm.get('dateOfBirth').hasError('tooYoung')" class="error">
            Bạn phải ít nhất 12 tuổi.
          </small>
          <small *ngIf="signupForm.get('dateOfBirth').hasError('tooOld')" class="error">
            Tuổi không được vượt quá 90.
          </small>
          <small *ngIf="signupForm.get('dateOfBirth').hasError('required')" class="error">
            Vui lòng chọn ngày sinh.
          </small>
        </div>
      </div>

      <div class="form-group" style="display: flex;">
        <table>
          <tr>
            <th>Thành phố</th>
            <th>Quận/Huyện</th>
            <th>Phường/Xã</th>
          </tr>
          <tr>
            <td>
              <select id="city" (change)="onCityChange($event.target.value)" >
                <option value="" disabled selected>Chọn thành phố</option>
                <option *ngFor="let city of cities" [value]="city.code">{{ city.name }}</option>
              </select>
            </td>
            <td>
              <select id="district" (change)="onDistrictChange($event.target.value)"  [disabled]="!districts.length">
                <option value="" disabled selected>Chọn quận/huyện</option>
                <option *ngFor="let district of districts" [value]="district.code">{{ district.name }}</option>
              </select>
            </td>
            <td>
              <select id="ward" (change)="onWardChange($event.target.value)" [disabled]="!wards.length">
                <option value="" disabled selected>Chọn phường/xã</option>
                <option *ngFor="let ward of wards" [value]="ward.code">{{ ward.name }}</option>
              </select>
            </td>
          </tr>
        </table>
      </div>
      

      <div class="form-group">
        <label for="address">Địa chỉ</label>
        <input type="text" id="address" name="address" formControlName="address">
        <div class="error-message" *ngIf="signupForm.get('address').invalid && signupForm.get('address').touched">
          <small *ngIf="signupForm.get('address').hasError('required')" class="error">
            Vui lòng nhập địa chỉ
          </small>
          <small *ngIf="signupForm.get('address').hasError('minlength')" class="error">
            Địa chỉ không dưới 5 ký tự
          </small>
          <small *ngIf="signupForm.get('address').hasError('maxlength')" class="error">
            Địa chỉ không quá 100 ký tự
          </small>
        </div>
      </div>


      <div class="form-group">
        <label for="idCard">CCCD/CMND</label>
        <input type="text" id="idCard" name="idCard" formControlName="idCard">
        <div class="error-message" *ngIf="signupForm.get('idCard').invalid && signupForm.get('idCard').touched">
          <small *ngIf="signupForm.get('idCard').hasError('required')" class="error">
            Vui lòng nhập số CCCD.
          </small>
          <small *ngIf="signupForm.get('idCard').hasError('pattern')" class="error">
            Số CCCD phải bao gồm chính xác 12 số.
          </small>
        </div>
      </div>


      <div class="form-group">
        <label for="phone">Số điện thoại</label>
        <input type="text" id="phone" name="phone" formControlName="phone">
        <div class="error-message" *ngIf="signupForm.get('phone').invalid && signupForm.get('phone').touched">
          <small *ngIf="signupForm.get('phone').hasError('required')" class="error">
            Vui lòng nhập số điện thoại.
          </small>
          <small *ngIf="signupForm.get('phone').hasError('pattern')" class="error">
            Số điện thoại không hợp lệ. Vui lòng nhập số điện thoại theo định dạng của nhà mạng Việt Nam.
          </small>
        </div>
      </div>


      <div class="form-group">
        <label for="password">Mật khẩu</label>
        <input type="password" id="password" name="password" formControlName="password">
        <div class="error-message" *ngIf="signupForm.get('password').invalid && signupForm.get('password').touched">
          <small *ngIf="signupForm.get('password').hasError('required')" class="error">
            Vui lòng nhập mật khẩu.
          </small>
          <small *ngIf="signupForm.get('password').hasError('minlength')" class="error">
            Mật khẩu phải có ít nhất 5 ký tự
          </small>
          <small *ngIf="signupForm.get('password').hasError('minlength')" class="error">
            Mật khẩu không được quá 30 ký tự
          </small>
        </div>
      </div>
      <!-- <div class="form-group">
        <label for="confirmPassword">Xác nhận mật khẩu</label>
        <input type="password" id="confirmPassword" name="confirmPassword">
      </div> -->

      <div *ngIf="message" class="alert alert-danger" role="alert">
        {{ message }}
        <button type="button" class="close" (click)="closeAlert()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      
      <button type="submit" class="btn" [disabled]="!signupForm.valid">Đăng Ký</button>
    </form>
    <div class="form-group">
      Đã có tài khoản?<a routerLink="/login">Đăng nhập ngay</a>
    </div>
    <!-- <button class="btn-google" >
        <img src="assets/gg.png" alt="Google Logo">
        Đăng Ký bằng Google
      </button> -->
  </div>
</div>