<div class="signup-container">
    <div class="left-section">
      <div class="overlay"></div>
      <h2 class="animated-text">Chào mừng đến với BDCS</h2>
      <p class="animated-text">Hãy gia nhập chúng tôi và khám phá thế giới kiến thức mới!</p>
    </div>
    
    <div class="signup-card">
      <h2>Đăng Ký</h2>
      <form (ngSubmit)="onSubmit()" >
        <div class="form-group">
          <label for="username">Tên người dùng</label>
          <input type="text" id="username" name="username" ngModel required>
          <div class="focus-border"></div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" ngModel required>
          <div class="focus-border"></div>
        </div>
        <div class="form-group">
          <label for="password">Mật khẩu</label>
          <input type="password" id="password" name="password" ngModel required>
          <div class="focus-border"></div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Xác nhận mật khẩu</label>
          <input type="password" id="confirmPassword" name="confirmPassword" ngModel required>
          <div class="focus-border"></div>
        </div>
        <button type="submit" class="btn">Đăng Ký</button>
      </form>
  
      <div class="divider">hoặc</div>
  
      <button class="btn-google" >
        <img src="assets/image/gg.png" alt="Google Logo">
        Đăng Ký bằng Google
      </button>
    </div>
  </div>