<div *ngIf="isLoading">Đang tải danh sách khóa học...</div>
<div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
<div *ngIf="!isLoading && !errorMessage">
    <div class="card">
        <div class="card-head">
            <div class="heading-banner">
                <div class="text-heading">
                    <h3>KHÓA HỌC CỦA TÔI</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="action">
                <p>Danh sách khóa học</p>
            </div>
            <div class="table-container">
                <table>
                    <colgroup>
                        <col style="width: 50px;">
                        <col style="width: 250px;">
                        <col style="width: 100px;">
                        <col style="width: 100px;">
                      </colgroup>
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên khóa học</th>
                            <th>Hình ảnh</th>
                            <th>Giảng viên</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of displayedCourses; let i = index" >
                            <td style="text-align: center;">{{ (currentPage - 1) * coursesPerPage + (i + 1) }}</td>
                            <td (click)="goToCourseDetailPage(item.courseId)">{{ item.courseName }}</td>
                            <td><img [src]="item.image" style="max-height: 30px;"></td>
                            <td>{{ item.instructor?.instructorName || 'Không có' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <ul class="pagination">
            <li *ngFor="let page of getPageArray()" [class.active]="page === currentPage" style="margin-right: 10px;">
                <a (click)="changePage(page)" style="cursor: pointer;">{{page}}</a>
            </li>
            </ul>
        </div>
    </div>
</div>