
<div class="body">
    <header>Add New Product</header>
    <form [formGroup]="addCourse" (ngSubmit)="submit()" class="form">
      <!-- <div class="input-box">
        <label>Product Image</label>
        <input type="file" (change)="onFileSelected($event)"  placeholder="Choose product image" accept="image/*" required />
        <img formControlName="image" [src]="addProduct.get('image').value">
      </div> -->
  
      <div class="input-box">
        <label>Tên khóa học</label>
        <input type="text" formControlName="courseName" placeholder="Enter course name" required />
      </div>
  
      <div class="input-box">
        <label>Giá</label>
        <input type="text" formControlName="coursePrice" placeholder="Enter course price" required />
      </div> 

      <div class="input-box">
        <label>Hình ảnh</label>
        <input type="file" (change)="onFileSelected($event)" placeholder="Choose image" accept="image/*" required />
        <img *ngIf="fileUrl" [src]="fileUrl" alt="Uploaded Image" />
      </div> 

      <button>Submit</button>
    </form>
  </div>
  
  