<!-- <div className="col-md-6 form-group mb-3">
                      <label htmlFor="description" className="form-label">Mô tả</label>
                                    <Field as="textarea" type="text" className="form-control" id="description" readOnly
                                           name="description" placeholder="Click để viết bài mô tả"
                                           onClick={handleShowDescription}/>
                                    <ErrorMessage name="description" className="text-danger" component="small"/>
                                </div> -->