<div class="modal-header">
       <h4 class="modal-title">Thêm câu hỏi mới</h4>
       <button type="button" class="close" aria-label="Close" (click)="closeModal()">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       <form >
         <div class="input-field">
           <label for="questionContent"><strong>Nội dung câu hỏi</strong></label>
           <textarea id="questionContent" [(ngModel)]="testQuestion.questionContent" name="questionContent" required></textarea>
         </div>
         <div class="input-field">
           <label for="correctAnswer"><strong>Câu trả lời đúng</strong></label>
           <input id="correctAnswer" type="text" [(ngModel)]="testQuestion.correctAnswer" name="correctAnswer" required />
         </div>
         <div class="action-buttons">
           <button type="submit" class="btn btn-primary" (click)="saveQuestion()">Lưu</button>
         </div>
       </form>
     </div>
     