<div class="login-container">
  <div class="left-section">
      <div class="overlay"></div>
      <h2 class="animated-text">Chào mừng đến với BDCS</h2>
      <p class="animated-text">Đăng nhập để tiếp tục hành trình học tập của bạn!</p>
  </div>
  
  <div class="login-card">
      <h2>Đăng Nhập</h2>
      <form (ngSubmit)="onLogin()" form [formGroup]="loginForm">
          <div class="form-group">
              <label for="username">User name</label>
              <input type="username" id="username" name="username" class="form-control" formControlName="username">
              <div class="error-message" *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched">
                <small *ngIf="loginForm.get('username').hasError('required')" class="error">
                  Vui lòng nhập tên đăng nhập.
                </small>
              </div>
          </div>


          <div class="form-group">
              <label for="password">Mật khẩu</label>
              <input type="password" id="password" name="password" class="form-control"formControlName="password">
              <div class="error-message" *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                <small *ngIf="loginForm.get('password').hasError('required')" class="error">
                  Vui lòng nhập mật khẩu.
                </small>
              </div>
          </div>


          <div>
            <input class="form-check-input align-middle me-2" type="checkbox" id="disabledFieldsetCheck"
                   formControlName="remember_me">
            <label class="form-check-label align-middle" for="disabledFieldsetCheck">
              Nhớ tài khoản
            </label>
          </div>


          <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Đăng nhập</button>
      </form>
      <div class="form-group">
        Chưa có tài khoản?<a routerLink="/signup">Đăng ký ngay</a>
      </div>
      <div class="divider">hoặc</div>

      <button class="btn-google">
          <img src="assets/images/gg.png" alt="Google Logo">
          Đăng Nhập bằng Google
      </button>
      <div class="signup-redirect">
        <p>Nếu bạn chưa có tài khoản? 
            <a routerLink="/signup" class="signup-link">Đăng ký ngay</a>
        </p>
    </div>
  </div>
</div>