<header>
    <nav>
      <div class="logo" (click)="toHome()" style="cursor: pointer;">
        <img src="assets/images/logo2.png" alt="avatar">
        <h1 style="font-size: 24px; color: white;">BinDev Code System</h1>
      </div>
      <ul class="nav-links">
        <!-- Nếu chưa đăng nhập hoặc là student hoặc business-->
        <li *ngIf="!isLoggedIn || role === 'ROLE_STUDENT' || role === 'ROLE_BUSINESS'"><a routerLink="/home">Trang chủ</a></li>
        <li *ngIf="!isLoggedIn || role === 'ROLE_STUDENT'"><a routerLink="/course">Khóa học</a></li>
      
        <!-- Chỉ hiển thị các liên kết này nếu chưa đăng nhập và là student  -->
        <li *ngIf="!isLoggedIn || role === 'ROLE_STUDENT'"><a routerLink="/business">Doanh Nghiệp</a></li>
        <li *ngIf="!isLoggedIn || role === 'ROLE_STUDENT'"><a routerLink="/contact-us">Liên hệ</a></li>
        <li *ngIf="!isLoggedIn || role === 'ROLE_STUDENT'"><a routerLink="/job">Job</a></li>

        <li *ngIf="role === 'ROLE_STUDENT'"><a routerLink="/create-cv">Tạo CV</a></li>

        <!-- Chỉ hiển thị các liên kết này nếu là business  -->
        <li *ngIf="!isLoggedIn || role === 'ROLE_BUSINESS'"><a routerLink="/manage-binDev/course">Khóa học</a></li>
        <li *ngIf="role === 'ROLE_BUSINESS'"><a routerLink="/my-business/job">Tuyển dụng</a></li>
        <li *ngIf="role === 'ROLE_BUSINESS'"><a>Nhận CV</a></li>
      </ul>
      
      <div class="auth-buttons" *ngIf="!isLoggedIn">
        <button class="button" ><a routerLink="/login">Đăng nhập</a></button>
        <button class="button"><a [routerLink]="['/signup']">Đăng ký</a></button>
      </div>
      <div class="auth-buttons" *ngIf="isLoggedIn">
        <!-- <span class="text-light">Xin chào: {{username}}</span> -->
        <img *ngIf="avatarSrc" [src]="avatarSrc" style="width: 35px; height: 35px;" alt="avatar">
        <button class="font-awe" (click)="toggleDropdown('notification')"><i class="fa-solid fa-bell fa-1x"></i></button>
        <div class="dropdown" *ngIf="dropdown === 'notification'">
          <ul>
            <li>Notification 1</li>
            <li>Notification 2</li>
            <li>Notification 3</li>
          </ul>
        </div>

        <button class="font-awe" (click)="toggleDropdown('message')"><i class="fa-solid fa-comment fa-1x"></i></button>
        <div class="dropdown" *ngIf="dropdown === 'message'">
          <ul>
            <li>Message 1</li>
            <li>Message 2</li>
            <li>Message 3</li>
          </ul>
        </div>

        <button class="font-awe" style="position: relative;" (click)="toggleDropdown('profile')">
          <i class="fa-solid fa-user fa-1x"></i>
          <i class="fa-solid fa-angle-down fa-sm" style="display: flex; align-items: center; justify-content: center; width: 16px; height: 16px; position: absolute; bottom: 0; right: 2px; border-radius: 50%; background-color: black; color: white;"></i>
        </button>
        <div class="dropdown" *ngIf="dropdown === 'profile'">
          <ul>
            <li><a routerLink="/account"> <i class="fa-solid fa-user fa-1x"></i>Trang cá nhân</a></li>
            <li *ngIf="role === 'ROLE_ADMIN' || role ==='ROLE_INSTRUCTOR'"><a routerLink="/manage-binDev"><i class="fa-solid fa-user-gear"></i>Quản lý chức năng</a></li>
            <li (click)="logout()"><a href=""> <i class="fa-solid fa-right-from-bracket"></i>Đăng xuất</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>