<div class="modal-header">
    <h4 class="modal-title">{{ course.courseName }} - Chi Tiết</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="detail">
        <p><strong>Giá:</strong> {{ course.coursePrice | number:'1.0-0'  }} VND</p>
        <p><strong>Giảng viên:</strong> {{ course.instructor.instructorName }}</p> 
    </div>
    <div class="test">
        <div *ngIf="errorMessage" class="error">
            {{ errorMessage }}
          </div>
          <div *ngIf="tests.length > 0">
            <ul>
              <li *ngFor="let test of tests">
                {{ test.testName }} - {{ test.progressThreshold }} - {{test.passScore}}
              </li>
            </ul>
          </div>
    </div>
</div>