<div class="job-container">
    <div class="banner">
        
    </div>
    <div class="search-container">
        <input type="text">
        <button><i class="fa-solid fa-magnifying-glass"></i>Tìm kiếm</button>
        <select>
            <option value="">Tình trạng</option>
            <option value="">Còn hạn</option>
            <option value="">Hết hạn</option>
        </select>
    </div>
  
    <div class="job-list" >
        <!-- <div *ngIf="business.jobs && business.jobs.length > 0"> -->
            <div class="action">
                <p>Danh sách khóa học</p>
                <button [routerLink]="['create']">Đăng tuyển dụng</button> 
            </div>
            <div class="job-card" *ngFor="let job of jobs">
                <div class="job-info">
                    <div>
                        <h3 class="job-name">{{ job.jobTitle }}</h3>
                        <p class="industry">{{ job.jobType }}</p>
                        <p class="industry">{{ job.salaryRange }}</p>
                    </div>
                </div>
                <p class="description">{{ job.location }}</p>
                <button class="view-details-btn" (click)="viewDetails(job.job_id)">Xem chi tiết</button>
            </div>
        </div>
    </div>
  