<div class="container">
    <h1 class="text-center fw-bold mb-4">Danh Sách Khóa Học</h1>
    <div class="row">
      <!-- Sử dụng *ngFor để lặp qua danh sách khóa học -->
      <div class="col-md-4" *ngFor="let course of courses">
        <div class="card shadow border-0">
          <img [src]="course.image" class="card-img-top" [alt]="course.name">
          <div class="card-body">
            <h5 class="card-title">{{ course.name }}</h5>
            <p class="card-text">{{ course.description }}</p>
            <button class="btn btn-outline-warning mt-3" (click)="goToDetail(course.id)">Đăng ký ngay</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  