<div *ngIf="questions">
  <div class="test-container">
    <div class="question-list">
      <ul>
        <li *ngFor="let question of questions; let i = index" (click)="selectQuestion(question)">
          Câu hỏi {{ i + 1 }}
        </li>
      </ul>
    </div>

    <div class="question-detail">
      <!-- <h4 style="white-space: pre-line;">{{ selectedQuestion?.questionContent }}</h4> -->
      <h4 [innerHTML]="convertToHtml(selectedQuestion?.questionContent)"></h4>
      <p><strong>Correct Answer:</strong> {{ selectedQuestion?.correctAnswer }}</p>
      <!-- <div className="col-md-6 form-group mb-3">
                      <label htmlFor="description" className="form-label">Mô tả</label>
                                    <Field as="textarea" type="text" className="form-control" id="description" readOnly
                                           name="description" placeholder="Click để viết bài mô tả"
                                           onClick={handleShowDescription}/>
                                    <ErrorMessage name="description" className="text-danger" component="small"/>
                                </div> -->
    </div>
  </div>
</div>
<div *ngIf="!questions">
  Không có bài kiểm tra
</div>